django>=2.1.5
django-extensions>=2.1.4
gunicorn>=19.9.0
{%- if cookiecutter.postgres == "True" %}
psycopg2-binary>=2.7.6.1
{% endif %}
{%- if cookiecutter.huey == "True" %}
huey>=1.10.5
redis>=3.0.1
{% endif %}